.navbar {
    background-color: blueviolet
}
.btn-primary {
    background-color: blueviolet
}
#my-btn {
    font-family:Arial
}
#nav-for-menu {
    background-color: black
}
.col-lg-2{background-color: black}

#Description {
    height: 200px;
}